<header id="topnav">
    <nav class="navbar-custom">
        <div class="container-fluid">
            <ul class="list-inline menu-left mb-0">
                <li class="float-left">
                    <a routerLink="/" class="logo">
                        <img src="assets\images\logo.png" alt="" height="70">
                    </a>
                </li>

                <li class="float-right p-1">
                    <a (click)="logout()">
                        <i class="dripicons-power"></i> <span>Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- end topbar-main -->
    <div class="topbar-menu">
        <div class="container-fluid">
            <div id="navigation">
                <!-- Navigation Menu-->
                <ul class="navigation-menu">
                    <li class="has-submenu">
                        <a routerLink="/"> <i class="mdi mdi-map-marker-radius"></i>Reservar</a>
                    </li>
                    <li class="navigation-menu" *ngIf="isAdmin">
                        <a routerLink="/laboratories"><i class="mdi mdi-home"></i>Laboratórios</a>
                    </li>
                    <li class="navigation-menu" *ngIf="isAdmin">
                        <a routerLink="/categories"><i class="mdi mdi-shape"></i>Categorias</a>
                    </li>
                </ul>
                <!-- End navigation menu -->
                <div class="clearfix"></div>
            </div>
            <!-- end #navigation -->
        </div>
        <!-- end container -->
    </div>
    <!-- end navbar-custom -->
</header>

<!-- End Navigation Bar-->
<div class="wrapper">
    <router-outlet></router-outlet>
</div>
<!-- end wrapper -->

<!-- Footer -->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">2018 © Geovany Rodrigues. - geovanyrodrigues.com.br</div>
        </div>
    </div>
</footer>
<!-- End Footer -->
