<div class="container-fluid">
    <!-- Page title box -->
    <div class="page-title-alt-bg"></div>
    <div class="page-title-box">
        <ol class="breadcrumb float-right">
            <li class="breadcrumb-item active">Reservar</li>
        </ol>
        <h4 class="page-title">Reservar</h4>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="card-box loading" [ngClass]="{'loading-active' : isLoading}">
                <ul id="wizard" class="nav nav-pills navtab-bg nav-justified">
                    <li class="nav-item">
                        <a href="#search" aria-expanded="true" class="nav-link active">
                            <span class="step">1</span>
                            Pesquisar
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#select" aria-expanded="false" class="nav-link" disabled>
                            <span class="step">2</span>
                            Selecionar Horário
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="#confirm" aria-expanded="false" class="nav-link" disabled>
                            <span class="step">3</span>
                            Confirmar
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane show active" id="search">
                        <form [formGroup]="searchFormGroup" (submit)="search(searchFormGroup.value)">
                            <div class="row justify-content-md-center">
                                <div class="col-sm-4">
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label for="dayOfWeek" class="col-form-label">Data</label>
                                            <input type="date" id="dayOfWeek" class="form-control" formControlName="date">
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Pesquisar</button>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="tab-pane" id="select">
                        <div class="row justify-content-md-center">
                            <div class="col-sm-4">
                                <table class="table mb-0">
                                    <!--<thead>
                                        <tr>
                                            <th></th>
                                            <th>Horário</th>
                                        </tr>
                                    </thead>-->

                                    <tbody>
                                        <tr *ngFor="let hour of hours; let i = index">
                                            <td>
                                                <div class="checkbox checkbox-primary">
                                                    <input id="checkbox-{{i}}" type="checkbox">
                                                    <label for="checkbox-{{i}}"></label>
                                                </div>
                                            </td>
                                            <td> {{ hour.name }} </td>
                                            <td>{{ hour.startTime }} ás {{ hour.endTime }}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <button type="button" class="btn btn-primary" (click)="toConfirm()">Continuar</button>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="confirm">
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
                            Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                            ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
                            Nulla consequat massa quis enim.
                        </p>
                        <p>
                            Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo,
                            rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium.
                            Integer tincidunt.Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend
                            tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
                        </p>
                    </div>
                </div>

                <div class="spinner">
                    <svg width="40px" height="40px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
                        <circle fill="none" stroke-width="5" stroke-linecap="round" cx="33" cy="33" r="30"
                                class="circle"></circle>
                    </svg>
                </div>
            </div>
            <!-- end card-box -->
        </div>
        <!-- end col -->
    </div>
</div>
